
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container">
    
      <div class="">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                          
          <li class="nav-item active">
              <button type="submit" class="btn" (click)="addNewPost()">
                Add New Post
              </button>
          </li> 
          
          <li class="nav-item active">
              <button type="submit" class="btn" (click)="viewPosts()">
                  View Your Blog Posts
                </button>
          </li>
          
          <li class="nav-item active">
              <button type="submit" class="btn" (click)="viewAllBlogs()">
                  View All Blog Posts
                </button>
          </li>   
          <li class="nav-item active">
              <button type="submit" class="btn" (click)="logout()">
                  Logout
                </button>
          </li>       
        </ul>
      </div>
      </div>
    </nav> 
    <!-- showing all blog posts from logged in user-->
    <div *ngIf="show == true">
    <div class="blog">
      <div class="container">
    <ul *ngFor="let data of allPosts;  let i = index">
            <div class="blog-image">
          <img src="{{data.metadata.postImage.url}}" height=300px width=300px>
        </div>
        <h3>{{data.title}}</h3>
        
        <div class="blog-content">
         <p>{{data.content | slice: 3:250}} ...</p>
         <a class="btn btn-success" [routerLink]="['usersinglepost']" [queryParams]="{post_id: data._id}">Read more...</a>
        </div>
      </ul>
    </div>
    </div>
  </div>

    <!-- showing all blog posts -->
    <!-- <div class="blog">
        <div class="container">
      <ul *ngFor="let data of allBlogs;  let i = index">
              <div class="blog-image">
            <img src="{{data.metadata.postImage.url}}" height=300px width=300px>
          </div>
          <h3>{{data.title}}</h3>
          
          <div class="blog-content">
              <div [innerHTML]=data.content></div>
           <a class="btn btn-success" [routerLink]="['usersinglepost']" [queryParams]="{post_id: data._id}">Read more...</a>
          </div>
        </ul>
      </div>
      </div> -->

      <div *ngIf="count == true">
        <h4 class="cntr">Enter a new post here:</h4>

          <div class="container p-t-50">
              <div class="row">
                  <div class="offset-md-3 col-md-6 form-back">
            <div class="blog">
            <form [formGroup]="postForm" (ngSubmit)="submitForm()" novalidate>
                 <div class="form-group">
                    <input type=text formControlName="title" class="form-control" placeholder="Enter title">
                 </div>
                 
                <div class="form-group">
                    <textarea formControlName="body" class="form-control" placeholder="Enter body"><br>
                    </textarea>
                </div>
                <div class="form-group">
                    <input type=text formControlName="description" class="form-control" placeholder="Enter description">
                  </div>
                  <div class="form-group">
      
                      <input type=file formControlName="image" class="form-control upload-padd">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Publish</button>
                      </div>
             
                  
      
                <p>{{message}}</p>
              </form>
            </div>
          </div>
        </div>
          </div>
      </div>
    
    